<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú Principal - Banco Azteca</title>
  <link rel="stylesheet" href="../style/styleMenu.css">
   <script src="js/menu.js" defer></script>
</head>  
<body>

  <header class="main-header">
    <div class="header-left">
      <img src="/images/logo-banco-azteca-mob.png" alt="Banco Azteca" class="logoI">
      <div class="marca">BANCO AZTECA</div>
    </div>

    <nav class="nav-menu" id="navMenu">
      <a href="../../index.html">inicio</a>
      <a href="./traspasos_y_tranferencias.html">Transferencias</a>
      <a href="./ordenes_de_pago_empresarial.html">Órdenes de pago empresarial</a>
      <a href="./cancelacion_de_ordenes_de_pago_empresarial.html">Cancelación de órdenes de pago empresaria</a>
    </nav>

    <button class="menu-toggle" onclick="toggleMenu()">☰</button>
  </header>

  <main class="contenedor">
    <div class="menu">
      <div class="menu-header">Menú principal</div>
      <div class="opcion">
          <a href="./traspasos_y_tranferencias.html">Transferencias</a>
        </div>
        <div class="opcion">
          <a href="./ordenes_de_pago_empresarial.html">Órdenes de pago empresarial</a>
        </div>
        <div class="opcion">
          <a href="./cancelacion_de_ordenes_de_pago_empresarial.html">Cancelación de órdenes de pago</a>
        </div>
    </div>
  </main>

  <footer class="main-footer">
    &copy; Canales Digitales H2H
  </footer>
                                                                      

</body>
</html>